*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h1{
    background-color: orange;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    text-align: justify;
    gap: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.score{
    margin: 15px;
    font-size: x-large;
}
#result{
    color: white;
    background-color: black;
    display: inline-block;
    font-size: x-large;
    margin: 15px;
}

